@import '~@/styles/vars.less';
.page-article-card {
    padding: 0;
    margin-bottom: 0.2rem;
    .ant-card-body {
        // padding: 0 24px;
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .mycontent {
        padding: 0;
        color: #bbbbbb;
    }
    .page-article-card-footer {
        position: relative;
        .page-article-card-footer-tags {
            line-height: 24px;
        }
        .page-article-card-footer-detail,
        .page-article-card-footer-edit,
        .page-article-card-footer-delete {
            position: absolute;
            right: 0;
            bottom: 20px;
            cursor: pointer;
            color: #bbbbbb;
            &:hover {
                color: @primary;
            }
        }
        .page-article-card-footer-edit {
            right: 50px;
        }
        .page-article-card-footer-detail{
            right: 100px;
        }
    }
}