@import '~@/styles/vars.less';
.myCard {
    padding: 0;
    margin-bottom: 0.2rem;
    .ant-card-body {
        // padding: 0 24px;
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .mycontent {
        padding: 0;
        color: #bbbbbb;
    }
    .cardFooter {
        position: relative;
        .tags {
            line-height: 24px;
        }
        .articleDelete,
        .articleEdit,
        .articleDetail {
            position: absolute;
            right: 0;
            bottom: 20px;
            cursor: pointer;
            color: #bbbbbb;
            &:hover {
                color: @primary;
            }
        }
        .articleEdit {
            right: 50px;
        }
        .articleDetail{
            right: 100px;
        }
    }
}