.page-user {
    .page-user-upload {
        .page-user-upload-img {
            width: 128px;
            height: 128px;
        }
    }
    .page-user-content {
        margin-top: 20px;
        .w-e-toolbar {
            background-color: #ffffff !important;
        }
        .w-e-text-container {
            height: 400px !important;
        }
    }
    .page-user-update-button {
        margin-top: .1rem;
        text-align: right;
    }
}