@import "~@/styles/vars.less";
.myComment {
    .comment {
        border-bottom: 1px solid #dddddd;
        .articleTitle {
            cursor: pointer;
        }
        .articleTitle:hover {
            span{
                color: @primary;

            }
        }
    }
    .footer {
        text-align: center;
    }
}